.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 22px;
  border-radius: 5px;
  color: gray;
  background-color: #eef3f8;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
}

/* Media Query */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    width: 100%;
    display: inline-block;
  }

  .header__search,
  .headerOption,
  .headerOption__icon {
    display: inline-block;
  }

  .header__left {
    width: 20%;
  }
}
